include ../components/utils
//- 
  Template  : share.pug
  Type      : partial
  Path      : templates/partials/share.pug
  Desc      : This iterates over a list of social network sites to share to (specified in the source/*.md files meta 
              data), generating an icon and link for each site. Each link is formatted differently, so the strings to
              find and replace are also kept in the pages .md file
  Data      : source/data/social_networks.yaml
  Sites     : facebook, twitter, googleplus, pinterest, linkedin, stumbleupon
  Example   : This would be the data added to the metadata in the .md file
              share:
                title: 'Article: Foobar'
                href: 'http://geekwiki.local/posts/foobar.html#'
                summary: Some short summary for this post
                sites:
                  - facebook
                  - twitter
                  - googleplus

+inc-1( 'partials/share.pug' )

if share
  -
    // Default to not sharing anything
    var shareList = false

    // If theres a 'share' metadata object, then utilize that
    if ( typeof share === 'object' && ! Array.isArray( share ) )
      shareList = ( ( typeof share.sites ==='object' && Array.isArray( share.sites ) )
        ? share.sites 
        : Object.getOwnPropertyNames( social_networks ) )
    
    // Otherwise, unless share is set to false, then use the default shared networks
    else if ( typeof share === 'undefined' || share != false )
      shareList = technical.defaults.share.networks

    var shareListStr = shareList.join(', ')

  if shareList
    .share
      | <!-- Shared Sites: #{shareListStr} -->
      span Share:
      // Begin Social Networking Share Links
      ul
        //- each snObj, site in social_networks
        each siteName in shareList
          | <!-- Share Icon for Social Network: #{siteName} -->

          - var snObj = social_networks[ siteName ]
          - var replacements = Object.assign({}, share, technical.defaults.share )
          li
            +process-link( snObj.href, snObj )( data-icon=snObj.icon ).popupwindow
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 16 16', fill-rule='evenodd', clip-rule='evenodd', stroke-linejoin='round', stroke-miterlimit='1.414')
                path(fill='#FFFFFF', d=snObj.svg)
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 16 16', fill-rule='evenodd', clip-rule='evenodd', stroke-linejoin='round', stroke-miterlimit='1.414')
                path(fill='#FFFFFF', d=snObj.svg)
      // End Social Networking Share Links

+inc-0( 'partials/share.pug' )